services:
  db:
    image: postgres:17
    container_name: barbariki-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./Server
      dockerfile: Dockerfile
    container_name: barbariki-server
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${DATABASE_STRING_KEY}
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    build:
      context: ./Client
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_MAP_BOX_TOKEN=${VITE_MAP_BOX_TOKEN}
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:5001
    depends_on:
      - backend

volumes:
  postgres_data: