.container {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 40px 20px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #edf2f8;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-text {
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 22px;
  color: #1e293b;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
}

label {
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #475569;
  min-width: 90px;
  padding-bottom: 5px;
}

input {
  border: none;
  border-bottom: 2px solid #cbd5e1;
  padding: 8px 5px;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #10b981;
}

input::placeholder {
  color: #94a3b8;
  font-weight: normal;
  font-size: 14px;
}

.hidden-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.btn {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #10b981;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #059669;
}

.btn:disabled {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.file-name-box {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.file-name {
  font-weight: bold;
  color: #1e293b;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.delete-file-btn{
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 24px;
}


.error-text{
    color: red;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin: 0px;
}