.container{
    width: Ð°uto;
    background-color: #edf2f8;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    margin: 0px 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.text-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}